@import './reset';
@import './fonts';

$margin-edge: 5px;
$primary: #2C2C2C;
$secondary: #FFF;
$unselected: #565555;

body {
  font-size: 14px;
  font-family: 'Ubuntu', cursive;
  color: $primary;
}

ul, li {
  * {
    user-select: none;
  }
}

h1, h2, h3 {
  background: $primary;
  color: $secondary;
  text-align: center;
  padding: 1.1em 0;
}

.text-bold {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.font-small {
  font-size: .75em;
  line-height: 1.25;
}

.tournaments {
  li {
    > h3:after {
      position: absolute;
      right: 2 * $margin-edge;
      content: "-";
    }
    &.unselected > h3 {
      background-color: $unselected;
      &:after {
        content: "+";
      }
    }
  }
}

.tournament {
  @media screen and (min-width: 700px) {
    width: calc(50% - #{$margin-edge/2});
    display: inline-block;
    vertical-align: top;
    margin-bottom: $margin-edge;
  }
  @media screen and (min-width: 700px) and (max-width: 1049px) {
    &:nth-child(odd) {
      margin-right: $margin-edge;
    }
  }
  @media screen and (min-width: 1050px) {
    width: calc(33.33333334% - #{2 * $margin-edge/3});
    &:nth-child(3n+2) {
      margin-left: $margin-edge;
      margin-right: $margin-edge;
    }
  }
}

.match-info {
  z-index: 1;
  overflow: auto;
  line-height: 2;
  position: fixed;
  width: 100%;
  background: $primary;
  color: $secondary;
  text-align: center;
  cursor: pointer;
  transition: left .15s ease-in-out;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 650px) {
    flex-direction: row;
  }
  > * {
    flex: 1;
  }
  &.open {
    left: 0;
  }
}

.lineups {
  display: flex;
  .lineup {
    flex: 1;
  }
}

.incidents {
  background: $secondary;
  color: $primary;
  padding: 2em;
  ul {
    border-left: 2px solid #94BB84;
    padding-left: 2 * $margin-edge;
    .incident {
      display: flex;
      height: 1.1em;
      padding-bottom: 1em;
      padding-top: 1.1em;
      position: relative;
      &:before {
        content: "";
        border-bottom: 2px solid #94BB84;
        width: 2 * $margin-edge;
        position: absolute;
        left: -2 * $margin-edge;
        top: 2em;
      }
      .time-from-start {
        margin: 0 $margin-edge;
      }
      .icon-wrapper {
        margin-right: $margin-edge;
        img {
          height: 1em;
          width: 1em;
        }
      }
    }
  }
}


.match {
  display: flex;
  height: 1.1em;
  padding-bottom: 1em;
  padding-top: 1.1em;
  transition: background-color ease-out .5s;
  cursor: pointer;
  &:nth-child(even) {
    background-color: #eee;
  }
  &.updated {
    background-color: rgba(136, 210, 131, 0.58);
  }
  .team-name {
    flex: 5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.team-home {
      text-align: right;
      margin-right: $margin-edge;
    }
    &.team-away {
      text-align: left;
      margin-left: $margin-edge;
    }
  }
  .team-goals {
    flex: 1;
  }
  .play-time {
    flex: 1;
    margin: 0 $margin-edge;
  }
  .team-goals, .play-time {
    text-align: center;
  }
}
