<!doctype html>
<html>
<head>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Socket.IO app</h1>
  <ul id='events'></ul>
  <script>
    var socket = io();

    socket.on('schedule', function(schedule) {
      console.log('schedule recvd')
    })

    socket.on('events', function(events) {
      var list = document.getElementById('events')
      list.innerHTML = ''
      var lis = events.forEach(function(event) {
        var li = document.createElement('li')
        var content = document.createTextNode(event.eventType.name + ' - ' + event.person.firstName + ' ' + event.person.lastName + ' ('+ event.team.name +')')
        li.appendChild(content)
        list.appendChild(li)
      })
    })

  </script>
</body>
</html>
