<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title><%- title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<section id="app-container"><%- markup %></section>
<script>window.__dehydratedState =<%- JSON.stringify(dehydratedState) %>;</script>
<script src="/pling.js"></script>
</body>
</html>
