<!doctype html>
<html>
<head>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="/style.css"></link>
</head>
<body>
  <section id="app-container"><%- markup %></section>
  <script>window.__dehydratedState=<%- JSON.stringify(dehydratedState) %>;</script>
  <script src="/pling.js"></script>
</body>
</html>
