<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,greek' rel='stylesheet' type='text/css'>
    <script src="/socket.io/socket.io.js"></script>
    <style>
        body {
            font-family: 'Comfortaa', cursive;
            font-size: 14px;
        }
        table {
            width: 100%;
            /*border: 1px solid #2F6FAD;*/
            /*margin-bottom: 1%;*/
        }
        tr.finished td {
            font-weight: bold;
            /*color: red;*/
        }
        td.goals {
            width: 5%;
            text-align: center;
        }
        td.start {
            width: 4%;
            text-align: center;
            font-size: 0.8em;
            color: #d2d2d2;
        }
        td.team {
            width: 38%;
        }
        td.teamA {
            text-align: right;
        }
        td.status {
            width: 10%;
        }
        th {
            padding: 1em;
        }
    </style>
</head>
<body>
<div id='tournaments'></div>
<script>
    var socket = io();

    socket.on('matches', function (tournaments) {

        var div = document.getElementById('tournaments');

        // Clear old data
        div.innerHTML = '';

        for (var i = 0; i < tournaments.length; i++) {
            var table = document.createElement('table');

            var hdr = document.createElement('tr');
            var th = document.createElement('th');
            th.setAttribute('colspan', '5');
            var tht = document.createTextNode(tournaments[i].name);
            th.appendChild(tht);
            hdr.appendChild(th);
            table.appendChild(hdr);

            for (var j = 0; j < tournaments[i].matches.length; j++) {
                var match = tournaments[i].matches[j];
                var tr = document.createElement('tr');
                var td1 = document.createElement('td');
                var td2 = document.createElement('td');
                var td3 = document.createElement('td');
                var td4 = document.createElement('td');
                var td5 = document.createElement('td');
                var td6 = document.createElement('td');
                td1.appendChild(document.createTextNode(match.teamA.name));
                td2.appendChild(document.createTextNode(match.teamB.name));
                tr.appendChild(td1);
                if (match.matchStatus.id === -1) {
                    td6.appendChild(document.createTextNode(match.startTime));
                } else {
                    td6.appendChild(document.createTextNode('61\''));
                }

                td3.appendChild(document.createTextNode(match.teamA.goals));
                td4.appendChild(document.createTextNode(match.teamB.goals));
                tr.appendChild(td3);
                tr.appendChild(td6);
                tr.appendChild(td4);
                td3.className += 'goals';
                td4.className += 'goals';
                td6.className += 'start';
//                td5.appendChild(document.createTextNode(match.startTime));
                td1.className += 'team teamA';
                td2.className += 'team';
                td5.className += 'status';
//                tr.appendChild(td5);
                console.log('status', match.matchStatus);
                tr.className += match.matchStatus.id == 1 ? 'finished' : '';
                tr.appendChild(td2);
                table.appendChild(tr);
            }
            div.appendChild(table);
        }

//        var list = div
//        div.innerHTML = ''
//        var lis = tournaments.forEach(function (tournament) {
//            var li = document.createElement('li')
//            var header = document.createElement('h2')
//            var content = document.createTextNode(tournament.name + ' (' + tournament.matches.length + ')')
//            var ul = document.createElement('ul')
//            header.appendChild(content)
//            li.appendChild(header)
//            tournament.matches.forEach(function (match) {
//                var matchLi = document.createElement('li')
//                matchLi.appendChild(document.createTextNode(match.startTime + ': ' + match.teamA.name + ' ' + match.teamA.goals + ' - ' + match.teamB.goals + ' ' + match.teamB.name + ' (' + match.matchStatus + ')'))
//                li.appendChild(matchLi)
//            })
//            list.appendChild(li)
//        })
    })

</script>
</body>
</html>
