/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,300);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  color: #2C2C2C; }

h1, h2, h3 {
  background: #2C2C2C;
  color: #fff;
  text-align: center;
  padding: 1.1em 0; }

.font-small {
  font-size: .75em;
  line-height: 1.25; }

.tournaments li.unselected > h3 {
  background-color: #8C8C8C;
  border-top: 1px solid #333; }

@media screen and (min-width: 700px) {
  .tournament {
    width: calc(50% - 2.5px);
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px; } }

@media screen and (min-width: 700px) and (max-width: 1049px) {
  .tournament:nth-child(odd) {
    margin-right: 5px; } }

@media screen and (min-width: 1050px) {
  .tournament {
    width: calc(33.33333334% - 3.33333px); }
    .tournament:nth-child(3n+2) {
      margin-left: 5px;
      margin-right: 5px; } }

.match {
  display: -webkit-box;
  display: flex;
  height: 1.1em;
  padding-bottom: 1em;
  padding-top: 1.1em;
  -webkit-transition: background-color ease-out .5s;
  transition: background-color ease-out .5s;
  cursor: pointer; }
  .match:nth-child(even) {
    background-color: #eee; }
  .match.updated {
    background-color: rgba(136, 210, 131, 0.58); }
  .match .team-name {
    -webkit-box-flex: 5;
            flex: 5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .match .team-name.team-home {
      text-align: right;
      margin-right: 5px; }
    .match .team-name.team-away {
      text-align: left;
      margin-left: 5px; }
  .match .team-goals {
    -webkit-box-flex: 1;
            flex: 1; }
  .match .play-time {
    -webkit-box-flex: 1;
            flex: 1;
    margin: 0 5px; }
  .match .team-goals, .match .play-time {
    text-align: center;
    font-family: monospace; }

